.cta {
  position: relative;
  padding: 5em 0 3em 0;
  background-color: $primary-orange;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    img {
      width: 35rem;
      height: 35rem;
      opacity: 0.071;
      position: absolute;
    }

    .bg-left {
      top: 4rem;
      left: -19.375rem;
    }
  }

  .cta__title {
    text-align: center;
  }

  .cta__title h1 {
    color: $red;
  }

  &.btn {
    text-align: center;
    background: transparent;
  }

  &.btn button {
    background-color: $red;
    color: $primary-orange;
    font-weight: $font-bold;
    filter: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.5em 0 3.5em 0;

    &__title {
      width: 40%;
      text-align: left !important;
    }

    & .btn {
      width: 20%;
    }

    & .btn:hover {
      filter: brightness(1.3);
    }

    .bg-right {
      right: -11rem;
      top: -20rem;
    }

    .bg-left {
      left: 18rem;
      top: -3rem;
    }
  }
}
