footer {
  padding: 2.5em 0;
  background-color: $dark-blue;
  font-family: $font;

  .search {
    text-align: center;
  }

  .search__info {
    width: 90%;
  }
  .search__input {
    padding: 0.9em 1.5em;
    width: 75%;
    border: 0;
    border-radius: 20px;
  }

  ::placeholder {
    color: $gray-blue;
    font-size: 14px;
  }

  .search__btn {
    padding: 0.9em 1.5em;
    margin-left: 5px;
    color: $red;
    text-transform: uppercase;
    font-weight: $font-bold;
    width: 20%;
    filter: none;

    &:hover {
      color: $primary-orange;
      background-color: $red;
    }
  }

  .footer__list--primary,
  .footer__list--secondary {
    list-style-type: none;
    margin: 2.2em 0;
    padding: 0;

    .footer__item {
      padding: 0.4em 0;
    }
  }

  .footer__link {
    color: #fff;

    &:hover {
      color: $primary-orange;
    }
  }

  .logo__section {
    text-align: center;

    .social__links {
      color: #fff;

      .fa-lg {
        font-size: 2em;

        &:hover {
          color: $primary-orange;
        }
      }
    }

    .logo__footer {
      margin: 2.5em 0 0 0;
    }
  }

  .trademark {
    text-align: center;

    & h5 {
      color: $gray-blue;
    }

    & p {
      font-size: 13px;
    }

    & p a {
      color: $gray-blue;
    }
  }
}

@media (min-width: 1200px) {
  .container__flex {
    display: flex;
    width: 90%;
    justify-content: space-around;
    max-width: 1470px;
    margin: 0 auto;
    align-items: center;
  }

  .search,
  .logo__section {
    display: flex;
    flex-direction: column;
  }
  .search {
    width: 24%;
    order: 4;
  }

  .search__info {
    width: 100%;
  }

  .footer__list {
    width: 42%;
    order: 2;
  }

  .logo__section {
    width: 20%;
    order: 1;
  }
}
