.services__title {
  text-align: center;
}

.services__main h6 {
  background-color: $orange;
  padding: 0.35em 0;
  text-align: left;
}

.services__number {
  padding: 0.35em 1.4em;
  margin: 0 0.5em 0 0;
  background-color: $primary-orange;
  color: $red;
  border-radius: 20px;
}

.wrapper__service {
  position: absolute;
  z-index: -1;
  left: -35rem;
  bottom: -61rem;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .flex--services {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .services__title {
    width: 50%;
    text-align: left;

    & p {
      width: 70%;
    }
  }

  .services__main {
    width: 40%;
  }
}
