// Typography //

// Imported Fonts //
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

// Fonts //
$font: "Be Vietnam", sans-serif;

// Font Sizes //
h1 {
  font-size: 41px;
  line-height: 1.3;
  color: $primary-blue;
}

p {
  color: $gray-blue;
  line-height: 1.8;
}
