// Variables //

// Colors //

$gray-blue: hsl(227, 12%, 61%);
$dark-blie: hsl(233, 12%, 13%);
$red: hsl(13, 100%, 96%);
$gray: hsl(13, 100%, 96%);

// Font weights //
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
